<div class="badge-card my-3 <%= 'claimable' if owned %>">
  <% if !owned %>
    <div class="badge-card-filter"></div>
  <% end %>

  <div class="badge-card-icon">
     <div class="badge-icon" style="<%= 'animation: none; background-color: #D8D8D8;' if !owned %>">
      <%= render partial: "badges/#{badge.name.downcase.gsub('-', '_').gsub(' ', '_').gsub('=', 'is')}" %>
     </div>
  </div>

  <div class="badge-card-content">
    <div class="badge-details">
      <em class="badge-name"><%= badge.name %></em>
      <div class="badge-description"><%= badge.description %></div>
    </div>

    <div class="badge-status">
    <% if owned %>
      <i class="fa-solid fa-key"></i>
    <% else %>
      <i class="fa-solid fa-lock"></i>
    <% end %>
    </div>
  </div>

  <% if owned %>
    <button class="launch-modal"></button>
  <% end %>
  <div class="custom-modal d-none">
    <div class="modal-container" data-my-badges-target="modal">
      <div class="modal-badge">
        <div class="modal-badge-icon">
          <%= simple_form_for @avatar, html: { data: { my_badges_target: "form", action: "click->my-badges#getBadge" } } do |f| %>
            <%= f.input :badge_id, as: :hidden, input_html: { value: badge.id } %>
            <%= f.submit "", class: "badge-hidden-submit" %>
          <% end %>
          <%= render partial: "badges/#{badge.name.downcase.gsub('-', '_').gsub(' ', '_').gsub('=', 'is')}" %>
        </div>
      </div>
    </div>
  </div>
</div>
