<div class="badge-card my-3 <%= 'claimable' if owned %>">

  <div class="badge-card-icon">
     <div class="badge-icon">
      <%= render partial: "badges/#{badge.name.downcase.gsub('-', '_').gsub(' ', '_').gsub('=', 'is')}" %>
     </div>
  </div>

  <div class="badge-card-content">
    <div class="badge-details">
      <em class="badge-name"><%= badge.name %></em>
      <div class="badge-description"><%= badge.description %></div>
    </div>

    <div class="badge-status">
    <% if owned %>
      <i class="fa-solid fa-key"></i>
    <% else %>
      <i class="fa-solid fa-lock"></i>
    <% end %>
    </div>
  </div>

  <!--
  <div class="badge-contents">
    <div class="badge-details">
      <div class="mb-0"><%= badge.description %></div>
    </div>
    <div class="badge-status">
      <% if owned %>
        <i class="fa-solid fa-key"></i>
      <% else %>
        <i class="fa-solid fa-lock"></i>
      <% end %>
    </div>
  </div>
   -->

  <% if owned %>
    <button class="launch-modal"></button>
  <% end %>
  <div class="custom-modal d-none">
    <div class="modal-container">
      <div class="modal-badge">
        <div class="modal-badge-icon">
          <%= render partial: "badges/#{badge.name.downcase.gsub('-', '_').gsub(' ', '_').gsub('=', 'is')}" %>
        </div>
      </div>
      <button class="get-badge btn btn-primary">Claim my badge !</button>
    </div>
  </div>
</div>
