<div class="pact-card my-3 <%= 'challenge' if user_pact.pact.challenge %>">
  <% if clickable %>
    <%= link_to "", edit_pact_path(user_pact), class: "pact-clickable" %>
  <% end %>
  <div class="pact-card-top">
    <div class="pact-card-details">
      <h3>Sport <% if user_pact.pact.challenge %><i class="fa-solid fa-people-group"></i><% end %></h3>
      <% if user_pact.pact.distance.nil? %>
      <p class="mb-0"><%= user_pact.pact.category.capitalize %> > <%= user_pact.pact.duration %> minutes</p>
      <% else %>
      <p class="mb-0"><%= user_pact.pact.category.capitalize %> > <%= user_pact.pact.distance %> km</p>
      <% end %>
      <p class="mb-0">Gain <%= user_pact.pact.xp %> XP <i class="fa-solid fa-star" style="color: #ecdf1e;"></i></p>
    </div>
    <div class="pact-card-bet">
      <% if user_pact.status == "achieved" %>
        <i class="fa-solid fa-medal pact-status"></i>
      <% elsif user_pact.status == "failed" %>
        <i class="fa-regular fa-thumbs-down pact-status"></i>
      <% end %>
      <p class="mb-0"><%= user_pact.bet %>€</p>
    </div>
  </div>

  <% if bottom == "submit" %>
  <div class="pact-card-bottom mt-3 <%= 'd-none' if user_pact.pact.recurring || user_pact.status == 'achieved'%>" style="justify-content: center;">
    <%= simple_form_for user_pact, url: update_pact_path, html: { style: "height: 100%; width: 70%;"} do |f| %>
    <%= f.submit "Finish my pact" %>
    <% end %>
  </div>
  <% end %>

  <% if bottom == "timer" %>
  <div class="pact-card-bottom mt-3">
    <% if user_pact.pact.recurring %>
    <div class="weekdays">
      <div class="weekday-circle <%= 'weekday-selected' if user_pact.pact.weekdays.include?(0) %>">M</div>
      <div class="weekday-circle <%= 'weekday-selected' if user_pact.pact.weekdays.include?(1) %>">T</div>
      <div class="weekday-circle <%= 'weekday-selected' if user_pact.pact.weekdays.include?(2) %>">W</div>
      <div class="weekday-circle <%= 'weekday-selected' if user_pact.pact.weekdays.include?(3) %>">T</div>
      <div class="weekday-circle <%= 'weekday-selected' if user_pact.pact.weekdays.include?(4) %>">F</div>
      <div class="weekday-circle <%= 'weekday-selected' if user_pact.pact.weekdays.include?(5) %>">S</div>
      <div class="weekday-circle <%= 'weekday-selected' if user_pact.pact.weekdays.include?(6) %>">S</div>
    </div>
    <% end %>

    <% if user_pact.status == "ongoing" %>
    <p class="mb-0 bottom-timer">timer placeholder</p>
    <% elsif user_pact.status != "ongoing" && !user_pact.pact.recurring %>
    <p class="mb-0">Before: <%= user_pact.deadline_at.strftime("%B %d, %Y") %></p>
    <% end %>

  </div>
  <% end %>
</div>
