<div class="edit-container">
  <div class="timer">
    <h2>Time left:</h2>
    <i class="fa-solid fa-spinner mt-5" style="font-size: 12em;"></i>
    <% time_remaining = @user_pact.deadline_at - Time.now %>
    <% days = (time_remaining / 1.day).to_i %>
    <% hours = ((time_remaining % 1.day) / 1.hour).to_i %>
    <% minutes = ((time_remaining % 1.hour) / 1.minute).to_i %>
    <% seconds = ((time_remaining % 1.minute) / 1.second).to_i %>

    <p class="mb-0 mt-5"><%= days %> Days, <%= hours %> hours, <%= minutes %> minutes and <%= seconds %> seconds</p>
  </div>

  <div class="pact-details mt-5 <%= 'challenge' if @user_pact.pact.challenge %>">
    <h3 class="challenge-title"><%= "CHALLENGE" if @user_pact.pact.challenge %></h3>
    <h3>Sport</h3>
    <div class="pact-bet"><p class="mb-0"><%= @user_pact.bet %></p></div>

    <div class="pact-specs">
      <% if @user_pact.pact.distance.nil? %>
      <p class="mb-0"><%= @user_pact.pact.category.capitalize %> > <%= @user_pact.pact.duration %> minutes</p>
      <% else %>
      <p class="mb-0"><%= @user_pact.pact.category.capitalize %> > <%= @user_pact.pact.distance %> km</p>
      <% end %>

    </div>

    <p><%= @user_pact.pact.xp %> XP</p>

    <% unless @user_pact.pact.recurring || @user_pact.status == "achieved" %>
    <div class="finish-pact-button mt-5">
      <%= simple_form_for @user_pact, url: update_pact_path do |f| %>
      <%= f.submit "Finish my pact", style: "width: 100%; height: 100%;"%>
      <% end %>
    </div>
    <% end %>
  </div>
</div>



<!--
  <ul>
    <li>Category : <%= @user_pact.pact.category %></li>
    <% unless @user_pact.pact.distance.nil? %>
    <li>Distance : <%= @user_pact.pact.distance %>km</li>
    <% end %>
    <% unless @user_pact.pact.duration.nil? %>
    <li>Duration : <%= @user_pact.pact.duration %>min</li>
    <% end %>
    <% if @user_pact.pact.recurring %>
    <li>On days: <%= @user_pact.pact.weekdays.join(' ') %></li>
    <% end %>
    <li>XP : <%= @user_pact.pact.xp %></li>
    <li>Deadline : <%= @user_pact.deadline_at %></li>
    <li>Bet : <%= @user_pact.bet %></li>
    <li>Status : <%= @user_pact.status %></li>
  </ul>

  <%= simple_form_for(@user_pact.pact) do |f| %>
  <%= f.submit "Finish my pact"%>
  <% end %>
 -->
