<div class="container mt-4" data-controller="multi-step-form" data-multi-step-form-target="form">
  <h2 class="text-center" style="font-weight: bold; color:#A6ACBA;">- Make a new Pact -</h2>
  <br>
  <%= simple_form_for @pact, url: pacts_path, html: { class: 'form-horizontal' } do |f| %>
    <%= f.error_notification %>

    <!-- Step 1: Category and Distance/Duration -->
    <div data-multi-step-form-target="step">
      <h3 style="color:#A6ACBA;">Choose your activity:</h3>

      <div class="category-wrapper d-flex justify-content-around flex-wrap mt-4" data-controller="category-select">
        <%= f.collection_radio_buttons :category, Pact::CATEGORIES, :to_s, :humanize do |b| %>
          <label class="category-item card text-center p-2" data-action="click->category-select#selectCategory">
            <%= b.radio_button class: 'category-selector d-none', data: { 'multi-step-form-target': 'category' } %>
            <% case b.object %>
              <% when "run" %>
                <i class="fa-solid fa-person-running" style="font-size: 40px; margin-bottom: 5px"></i>
              <% when "ride" %>
                <i class="fa-solid fa-bicycle" style="font-size: 40px"></i>
              <% when "walk" %>
                <i class="fa-solid fa-shoe-prints" style="font-size: 40px"></i>
              <% else %>
                <i class="fa-sharp fa-solid fa-person-swimming" style="font-size: 40px"></i>
            <% end %>
            <%= b.text %>
          </label>
        <% end %>
      </div>


      <%= f.hidden_field :xp, 'data-multi-step-form-target': 'xp' %>

      <div class="distance-duration-container" data-controller="distance-duration stepper">
        <!-- Toggle Buttons for Km and Min -->
        <div class="toggle-buttons-wrapper d-flex justify-content-center mt-2">
          <input type="radio" class="btn-check" name="distance_type" id="kmButton" autocomplete="off" checked data-action="click->distance-duration#setType" value="distance">
          <label class="btn btn-secondary toggle-btn" for="kmButton">Km</label>

          <input type="radio" class="btn-check" name="distance_type" id="minButton" autocomplete="off" data-action="click->distance-duration#setType" value="duration">
          <label class="btn btn-secondary toggle-btn" for="minButton">Min</label>
        </div>
        <br>
        <!-- Stepper Section -->
        <div class="stepper-wrapper d-flex align-items-center">
          <!-- Decrement Button -->
          <button type="button" class="btn btn-decrement" data-action="click->stepper#decrement">-</button>

          <!-- Distance/Duration Input -->
          <%= f.input :distance, label: false, as: :integer, value: 10, min: 1, input_html: { 'data-stepper-target': 'value', 'data-multi-step-form-target': 'distance', 'data-distance-duration-target': 'input', value: 10 } %>

          <!-- Increment Button -->
          <button type="button" class="btn btn-increment" data-action="click->stepper#increment">+</button>
        </div>
      </div>
    </div>

    <%= simple_fields_for @user_pact do |up| %>
      <!-- Step 2: Deadline (Hidden initially) -->
      <div data-multi-step-form-target="step" class="d-none" style="margin-bottom: 30px" data-controller="datetime-picker" data-datetime-picker-anytime-value="false">
        <div class="mb-3">
          <h3 style="color:#A6ACBA;">Deadline:</h3>
          <%= up.input :deadline_at, as: :string, label: false, input_html: { class: 'form-control', 'data-datetime-picker-target': 'datetime', 'data-multi-step-form-target': 'deadline' } %>
        </div>
          <%= f.simple_fields_for :user_pact do |up| %>
          <br>

            <div class="toggle-container">
              <input type="checkbox" class="d-none" id="recurring-toggle" name="recurring" data-action="datetime-picker#toggleRecurring" data-datetime-picker-target="recurring" data-multi-step-form-target="recurring">
              <label for="recurring-toggle" class="toggle-label">
                <span class="toggle-option">Only Once</span>
                <span class="toggle-switch">
                  <span class="toggle-slider"></span>
                </span>
                <span class="toggle-option">Every Time</span>
              </label>
            </div>

            <div class="weekdays-wrapper d-none" data-datetime-picker-target="weekdays">
              <% ['M', 'T', 'W', 'T', 'F', 'S', 'S'].each_with_index do |day, index| %>
                <label class="weekday-toggle">
                  <%= f.check_box :weekdays, { multiple: true, class: 'd-none', 'data-action': 'datetime-picker#toggleDay', 'data-datetime-picker-target': 'day', 'data-multi-step-form-target': 'day' }, index, nil %>
                  <%= day %>
                </label>
              <% end %>
            </div>
          <% end %>
      </div>


      <!-- Step 3: Beneficiary and Bet (Hidden initially) -->
      <div data-multi-step-form-target="step" class="d-none">
        <div class="mb-3">
          <h3 style="color:#A6ACBA;">Or give:</h3>
            <div class="slider-wrapper" data-controller="slider">
              <!-- Slider input for bet -->
              <%= up.input :bet, label: false, as: :range, input_html: { min: 5, max: 50, value: 10, class: 'form-control-range', 'data-action': 'input->slider#updateValue', 'data-slider-target': 'range', 'data-multi-step-form-target': 'bet' } %>
              <!-- Display the current value of the slider -->
              <span id="betValue" data-slider-target="valueDisplay">10</span>
            </div>
          <br>
          <br>
          <h3 style="color:#A6ACBA;">to:</h3>
            <div class="beneficiary-wrapper d-flex justify-content-around flex-wrap" data-controller="category-select">
              <% @beneficiaries.each do |beneficiary| %>
                <div data-beneficiary-id="<%= beneficiary.id %>" data-beneficiary-name="<%= beneficiary.name %>">
                  <%= up.radio_button :beneficiary_id, beneficiary.id, class: 'beneficiary-selector d-none', id: "beneficiary_#{beneficiary.id}", data: { 'multi-step-form-target': 'beneficiary' } %>
                  <label for="beneficiary_<%= beneficiary.id %>" class="beneficiary-item text-center p-2" style="background-image: url('<%= beneficiary_image(beneficiary) %>');" data-action="click->category-select#selectBeneficiary">
                  </label>
                </div>
              <% end %>
            </div>

        </div>
      </div>
    <% end %>

      <!-- Step 4: Confirmation Step -->
      <div data-multi-step-form-target="step" class="d-none" id="confirmation-step">
        <h3>Confirm Your Pact</h3>
        <!-- Dynamic confirmation message -->
        <div id="confirmation-message" class="confirmation-message"></div>
        <!-- Submit button -->
        <div class="pact-btn-container mt-5">
          <%= f.button :submit, "Make my Pact", class: 'btn btn-pact' %>
        </div>
      </div>

    <% end %>

  <!-- Navigation Buttons -->
  <div class="navigation-buttons d-flex justify-content-between mt-4">
    <button type="button" class="btn btn-previous" data-action="multi-step-form#previous" data-multi-step-form-target="previousButton">
      <i class="fa-solid fa-arrow-left-long"></i> Previous
    </button>
    <button type="button" class="btn btn-next" data-action="multi-step-form#next" data-multi-step-form-target="nextButton">Next step</button>
  </div>



</div>
