<!--seulement la show pour les challenges-->
<h3 class="section-title mb-3">Buddies involved</h3>
<div class="friends my-3">
<% if @challenge.ongoing_challengers.count.zero? && @challenge.ongoing_challengers.count.zero? %>
  <p>No buddies took this challenge (yet).</p>
<% else %>
  <% @challenge.ongoing_challengers.each do |challenger| %>
    <div class="challenge-friend mx-2">
      <div class="challenge-friend-avatar friend-ongoing">
        <p class="mb-0"><%= challenger.first_name[0] %></p>
      </div>
      <p style="margin-bottom: 0; font-size: 0.7em;"><%= challenger.nickname %></p>
    </div>
  <% end %>
  <% @challenge.achieved_challengers.each do |challenger| %>
    <div class="challenge-friend mx-2">
      <div class="challenge-friend-avatar friend-achieved">
        <p class="mb-0"><%= challenger.first_name[0] %></p>
      </div>
      <p style="margin-bottom: 0; font-size: 0.7em;"><%= challenger.nickname %></p>
    </div>
  <% end %>
<% end %>
</div>

<h3 class="section-title mb-3">Challenge details</h3>
<%= render partial: "challenges/challenge_card", locals: { challenge: @challenge, clickable: false } %>

<div class="challenge-show-bottom my-3">
  <% if @challenge.user_pacts.find_by(user_id: current_user.id).nil? %>
    <p>Ready to move your body? 💪</p>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">I'm ready!</button>
  <% else %>
    <p>Good luck for this challenge ! 💪</p>
  <% end %>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" data-controller="multi-step-form">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    <%= simple_form_for @challenge, url: join_challenge_path, method: :post do |f| %>
      <%= simple_fields_for @user_pact do |up| %>
      <div data-multi-step-form-target="step">
        <div>
          <h3>Or give:</h3>
            <div class="stepper-wrapper" data-controller="stepper">
              <button type="button" data-action="click->stepper#decrement">-</button>
              <%= up.number_field :bet, value: 10, min: 1, class: 'form-control', 'data-stepper-target': 'value', 'data-multi-step-form-target': 'bet' %>
              <button type="button" data-action="click->stepper#increment">+</button>
            </div>

          <h3>to:</h3>
            <div class="beneficiary-wrapper d-flex justify-content-around flex-wrap">
              <% @beneficiaries.each do |beneficiary| %>
                <%= up.radio_button :beneficiary_id, beneficiary.id, class: 'beneficiary-selector d-none', id: "beneficiary_#{beneficiary.id}", data: { 'multi-step-form-target': 'beneficiary' } %>
                <label for="beneficiary_<%= beneficiary.id %>" class="beneficiary-item" style="background-image: url('<%= beneficiary_image(beneficiary) %>');">
                </label>
              <% end %>
            </div>

        </div>
      </div>
      <% end %>
      <div class="challenge-submit-btn">
      <%= f.submit "I'm taking this challenge!", class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>
