<div class="dashboard-avatar w-100 mt-4">
  <%= link_to "", avatar_path(@user.avatar), class: "link-to-avatar-page" %>
  <div class="avatar-profile">
    <%= cl_image_tag(@user.avatar_picture.key, width: 80, height: 80, class: "avatar-picture", crop: :fill) %>
    <div class="avatar-nickname"><%= @user.nickname %></div>
  </div>
  <div class="avatar-status">
    <div class="avatar-level">
      <p class="avatar-level-text mb-0">Level 4</p>
      <div class="avatar-xp-bar">
        <div class="xp-bar-progression"></div>
      </div>
    </div>
    <div class="avatar-badges">
      <div class="badge"><i class="fa-solid fa-mountain-sun"></i></div>
      <div class="badge"><i class="fa-solid fa-person-running"></i></div>
      <div class="badge"><i class="fa-solid fa-bicycle"></i></div>
    </div>
  </div>
</div>

<div class="ongoing-pacts w-100 my-5">
  <h3 class="section-title mb-3">Ongoing pacts</h3>
  <% @ongoing_pacts.each do |ongoing_pact| %>
    <%= render partial: "pacts/card", locals: { user_pact: ongoing_pact, bottom: "timer", clickable: true } %>
  <% end %>
</div>

<div class="achieved-pacts w-100 my-5">
  <h3 class="section-title mb-3">Achieved pacts</h3>
  <% @achieved_pacts.each do |achieved_pact| %>
    <%= render partial: "pacts/card", locals: { user_pact: achieved_pact, bottom: "timer", clickable: false } %>
  <% end %>
</div>

<div class="failed-pacts w-100 my-5">
  <h3 class="section-title mb-3">Failed pacts</h3>
  <% @failed_pacts.each do |failed_pact| %>
    <%= render partial: "pacts/card", locals: { user_pact: failed_pact, bottom: "timer", clickable: false } %>
  <% end %>
</div>
