<div class="dashboard-avatar w-100 mt-4">
  <%= link_to "", avatar_path(@user.avatar), class: "link-to-avatar-page" %>
  <div class="avatar-profile">
    <%= cl_image_tag(@user.avatar_picture.key, width: 80, height: 80, class: "avatar-picture", crop: :fill) %>
    <div class="avatar-nickname"><%= @user.nickname %></div>
  </div>
  <div class="avatar-status">
    <div class="avatar-level">
      <p class="avatar-level-text mb-0">Level <%= @user.avatar.level.current %></p>
      <div class="avatar-xp-bar">
        <div class="xp-bar-progression" style="width: <%= @fill_percentage %>%"></div>
      </div>
    </div>
    <div class="avatar-badges">
      <div class="badge"><i class="fa-solid fa-mountain-sun"></i></div>
      <div class="badge"><i class="fa-solid fa-person-running"></i></div>
      <div class="badge"><i class="fa-solid fa-bicycle"></i></div>
    </div>
  </div>
</div>

<% @ongoing_user_pacts.each do |date, pacts| %>
  <div class="date-group">
    <h3><%= date == Date.today ? 'Today' : date.strftime('%A, %b %e') %></h3>
    <div class="grid-container">
    <% pacts.each do |pact| %>
      <%= render partial: "pacts/card", locals: { user_pact: pact, bottom: "timer", clickable: true } %>
    <% end %>
    </div>
  </div>
<% end %>
