<div data-controller="swiper">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <!-- First Card: Avatar Bio -->
      <div class="swiper-slide">
        <!-- Content of your first card -->
        <div class="dashboard-avatar w-100 mt-4">
          <%= link_to "", avatar_path(@user.avatar), class: "link-to-avatar-page" %>
          <div class="avatar-bio">
            <div class="avatar-profile">
              <%= image_tag "https://i.pinimg.com/originals/58/20/fe/5820fe42115912f3e21d6588c6d6637f.jpg", width: 100, height: 100, class: "avatar-picture", alt: "User Avatar" %>
              <div class="avatar-info">
                <div class="avatar-nickname"><%= @user.nickname %></div>
                <div class="avatar-level">
                  <p class="avatar-level-text mb-0">Level <%= @user.avatar.level.current %></p>
                  <!--
                  <div class="avatar-xp-bar">
                    <div class="xp-bar-progression" style="width: <%= @fill_percentage %>%"></div>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>

          <!-- Key Figures Section -->
          <div class="key-figures">
            <div class="key-figure">
              <div class="key-figure-number"><%= @finished_pacts %></div>
              <div class="key-figure-label">Ended Pacts</div>
            </div>
            <div class="key-figure">
              <div class="key-figure-number"><%= @total_donated %> €</div>
              <div class="key-figure-label">Donated</div>
            </div>
            <div class="key-figure">
            <div class="key-figure-number"><%= number_with_precision(@success_rate, precision: 0) %>%</div>
              <div class="key-figure-label">Success Rate</div>
            </div>
          </div>
          <!--
          <div class="avatar-status">
            <div class="avatar-badges">
              <div class="badge"><i class="fa-solid fa-mountain-sun"></i></div>
              <div class="badge"><i class="fa-solid fa-person-running"></i></div>
              <div class="badge"><i class="fa-solid fa-bicycle"></i></div>
            </div>
          </div>
          -->
        </div>
      </div>

      <!-- Second Card: Leaderboard -->
      <div class="swiper-slide">
        <!-- Content of the leaderboard -->
        <div class="dashboard-avatar w-100 mt-4">
          <h2 class="leaderboard-title">Ranking</h2>
          <div class="leaderboard-list">
            <% @top_users.each_with_index do |user, index| %>
              <div class="leaderboard-user <%= 'current-user' if user == current_user %>">
                <span class="rank"><%= index + 1 %>.</span>
                <span class="nickname"><%= user.nickname %></span>
                <span class="total-xp"><%= user.total_xp %> XP</span>
              </div>
            <% end %>

            <% if !@top_users.include?(current_user) %>
              <div class="dots">...</div>
              <div class="leaderboard-user current-user">
                <span class="rank"><%= @current_user_rank %>.</span>
                <span class="nickname"><%= @current_user.nickname %></span>
                <span class="total-xp"><%= @current_user.total_xp %> XP</span>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Third Card: Badges -->
      <div class="swiper-slide">
        <!-- Content of the badges -->
                <div class="dashboard-avatar w-100 mt-4">
          <%= link_to "", avatar_path(@user.avatar), class: "link-to-avatar-page" %>
          <div class="avatar-bio">
            <div class="avatar-profile">
              <%= image_tag "https://i.pinimg.com/originals/58/20/fe/5820fe42115912f3e21d6588c6d6637f.jpg", width: 100, height: 100, class: "avatar-picture", alt: "User Avatar" %>
              <div class="avatar-info">
                <div class="avatar-nickname"><%= @user.nickname %></div>
                <div class="avatar-level">
                  <p class="avatar-level-text mb-0">Level <%= @user.avatar.level.current %></p>
                  <!--
                  <div class="avatar-xp-bar">
                    <div class="xp-bar-progression" style="width: <%= @fill_percentage %>%"></div>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>

          <!-- Key Figures Section -->
          <div class="key-figures">
            <div class="key-figure">
              <div class="key-figure-number"><%= @finished_pacts %></div>
              <div class="key-figure-label">Ended Pacts</div>
            </div>
            <div class="key-figure">
              <div class="key-figure-number"><%= @total_donated %> €</div>
              <div class="key-figure-label">Donated</div>
            </div>
            <div class="key-figure">
            <div class="key-figure-number"><%= number_with_precision(@success_rate, precision: 0) %>%</div>
              <div class="key-figure-label">Success Rate</div>
            </div>
          </div>
          <!--
          <div class="avatar-status">
            <div class="avatar-badges">
              <div class="badge"><i class="fa-solid fa-mountain-sun"></i></div>
              <div class="badge"><i class="fa-solid fa-person-running"></i></div>
              <div class="badge"><i class="fa-solid fa-bicycle"></i></div>
            </div>
          </div>
          -->
        </div>
      </div>
    </div>

    <!-- Optional: Pagination -->
    <div class="swiper-pagination"></div>

  </div>
</div>

<!-- Ongoing pacts sorted -->
<br>
<div class="disclaimer">
  <h3><strong class="highlight-text">Keep Pushing!</strong> You have <strong class="highlight-text"><%=@ongoing_pacts.count%></strong> ongoing pacts, with <strong class="highlight-text"><%= @total_ongoing_bet %>€</strong> on the line </h3>
</div>

<% @ongoing_pacts_sorted.each do |date, pacts| %>
  <div class="date-group">
    <h3><%= date == Date.today ? 'Today' : date.strftime('%A, %b %e') %></h3>
    <div class="grid-container">
    <% pacts.each do |pact| %>
      <%= render partial: "pacts/card", locals: { user_pact: pact, bottom: "timer", clickable: true } %>
    <% end %>
    </div>
  </div>
<% end %>
