<ul>
  <% @pacts.each do |pact| %>
    <li><%= pact.category %></li>
    <li><%= pact.distance %></li>
    <li><%= pact.duration %></li>
    <li><%= pact.xp %></li>
    <li><%= pact.completion_duration %></li>
</ul>
