<div class="grid-item">
  <div class="pact-timeline-card">
    <div class="timeline">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <div class="pact-pact-card">
      
      <div class="pact-box">
        <div class="pact-card-content">
          <div class="pact-card-top-row">
            <p class="pact-card-category"><%= challenge.category.capitalize %>
              <% case challenge.category %>
                <% when "run" %>
                  <i class="fa-solid fa-person-running"></i>
                <% when "ride" %>
                  <i class="fa-solid fa-bicycle"></i>
                <% when "walk" %>
                  <i class="fa-solid fa-shoe-prints"></i>
                <% else %>
                  <i class="fa-sharp fa-solid fa-person-swimming"></i>
                <% end %>
            </p>
            <div class="pact-card-category-xp">
              <p><i class="fa-solid fa-star"></i> +<%= challenge.xp %> XP</p>
            </div>
          </div>
          <div class="pact-card-details">
            <% if challenge.distance.nil? %>
              <p class="pact-card-distanceOrDuration"><i class="fa-solid fa-stopwatch"></i> <%= challenge.duration %> min</p>
            <% else %>
              <p class="pact-card-distanceOrDuration"><i class="fa-solid fa-arrows-left-right"></i> <%= challenge.distance %> km</p>
            <% end %>
            <div class="challenge-card-friends" style="display: flex;">
              <% challenge.ongoing_challengers.each do |challenger| %>
                <div class="challenge-friend-avatar friend-ongoing">
                  <%= image_tag challenger.avatar_picture, width: 40, height: 40, class: "avatar-picture-small" %>
                </div>
              <% end %>
              <% challenge.achieved_challengers.each do |challenger| %>
                <div class="challenge-friend-avatar friend-achieved">
                  <%= image_tag challenger.avatar_picture, width: 40, height: 40, class: "avatar-picture-small" %>
                </div>
              <% end %>
            </div>
          </div>
          <!-- Conditional bottom sections -->
          <% if challenge.recurring %>
            <div class="pact-card-bottom">
              <div class="weekdays">
                <% selected_weekdays = challenge.weekdays.map(&:to_i) %>
                <div class="weekday-info">
                  <% ['M', 'T', 'W', 'T', 'F', 'S', 'S'].each_with_index do |day, index| %>
                    <% if selected_weekdays.include?(index) %>
                      <div class="weekday-circle weekday-selected">
                        <%= day %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="pact-card-xp">
          <button class="join-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" data-challenge-id="<%= challenge.id %>" data-action="multi-step-form#join">Join <i class="fa-solid fa-rocket"></i></button>
          <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" data-controller="multi-step-form" style="height: 600px;">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasBottomLabel"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body small">
            <%= simple_form_for challenge, url: join_challenge_path(challenge), method: :post, html: { id: 'new_challenge_form' } do |f| %>
              <%= simple_fields_for :user_pact do |up| %>
                <div data-multi-step-form-target="step">
                  <div>
                    <h3 style="color:#A6ACBA; margin-top:10px; border-bottom: none;">Bet:</h3>
                    <br>
                      <div class="slider-wrapper" data-controller="slider">
                        <!-- Slider input for bet -->
                        <%= up.input :bet, label: false, as: :range, input_html: { min: 5, max: 50, value: 10, class: 'form-control-range', 'data-action': 'input->slider#updateValue', 'data-slider-target': 'range', 'data-multi-step-form-target': 'bet' } %>
                        <!-- Display the current value of the slider -->
                        <span id="betValue" data-slider-target="valueDisplay">10</span>
                      </div>
                    <h3 style="color:#A6ACBA; margin-top:10px; border-bottom: none;">For:</h3>
                      <div class="beneficiary-wrapper d-flex justify-content-around flex-wrap" data-controller="category-select">
                        <% @beneficiaries.each do |beneficiary| %>
                          <div data-beneficiary-id="<%= beneficiary.id %>" data-beneficiary-name="<%= beneficiary.name %>">
                            <%= up.radio_button :beneficiary_id, beneficiary.id, class: 'beneficiary-selector d-none', id: "beneficiary_#{beneficiary.id}", data: { 'multi-step-form-target': 'beneficiary' } %>
                            <label for="beneficiary_<%= beneficiary.id %>" class="beneficiary-item text-center p-2" data-action="click->category-select#selectBeneficiary">
                              <span class="beneficiary-name"><%= beneficiary.name %></span>
                            </label>
                          </div>
                        <% end %>
                      </div>
                  </div>
                </div>
              <% end %>
            <div class="pact-card-finish" style="margin-top: 1em;">
              <%= f.button :submit, class: 'pact-card-finish' %>
            </div>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
